/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TEN  */
.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
  	width: 89.84%;
}

.span_8_of_10 {
  	width: 79.68%;
}

.span_7_of_10 {
  	width: 69.52%;
}

.span_6_of_10 {
  	width: 59.36%;
}

.span_5_of_10 {
  	width: 49.2%;
}

.span_4_of_10 {
  	width: 39.04%;
}

.span_3_of_10 {
  	width: 28.88%;
}

.span_2_of_10 {
  	width: 18.72%;
}

.span_1_of_10 {
  	width: 8.56%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	
    .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
	width: 100%; 
	}
    .push {
        display: none;
    }
}

.push {
    visibility: hidden;
}

#about h3 {
    width: 193px;
    height: 26px;
    text-align: left;
    font-family: 'Roboto Slab', Black;
    font-size: 20px;
    margin-bottom: 35px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

#about p {
    text-align: left;
    font-family: 'Helvitica', Regular; 
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#blogindex {
    margin-top: 80px;
}

#blogindex li {
    list-style-type: none;
}

#blogindex a {
    font-family: 'Helvitica', Regular; 
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #86A691;
    opacity: 1;
    text-decoration: none;
}


span.left {
    text-align: right;
    float: right;
    font-family: 'Helvitica', Regular; 
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-decoration: none;

}

#me {
    height: 390px;
    /* background: transparent url('../images/IMG_2915.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}
    .content p {
        display: inline-block
    }
    .content p code {
      font-size: 12px;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px;
      display: inline-block;}
  .content pre {
    font-size: 12px;
    background-color: #eeeeee;
    border: 1px solid #777777;
    border-radius: 3px;
    padding: 2px 3px;
    display: inline-block;
    opacity: 1;
}

.pictureme {
  max-width: 100%;
  max-height: 100%;
  padding-top: 41px;
}

.menubig {
  font-size: 70px;
  font-family: 'Roboto Slab';
  color: #86A691;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: 900;
}

.menusmall {
  font-size: 20;
  font-family: 'Helvitica', Regular;
  color: #86A691;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

.middle {
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.menu a {
  text-decoration: none;
}

.name a {
    font-family: 'Helvitica', Regular; 
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #86A691;
    opacity: 1;
    text-decoration: none;
}

.main-content {
    box-shadow: 0px 10px 20px #00000029;
}
