<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Mads Ravn" />
  <meta name="description" content="Mads Ravn - An avid coder and lazy donkey." />
  <link rel="alternate" type="application/rss+xml" href="https://feeds.feedburner.com/madsravn" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="/css/html5reset.css" media="all">
  <link rel="stylesheet" href="/css/col.css" media="all">
  <link rel="stylesheet" href="/css/2cols.css" media="all">
  <link rel="stylesheet" href="/css/3cols.css" media="all">
  <link rel="stylesheet" href="/css/4cols.css" media="all">
  <link rel="stylesheet" href="/css/5cols.css" media="all">
  <link rel="stylesheet" href="/css/6cols.css" media="all">
  <link rel="stylesheet" href="/css/7cols.css" media="all">
  <link rel="stylesheet" href="/css/8cols.css" media="all">
  <link rel="stylesheet" href="/css/9cols.css" media="all">
  <link rel="stylesheet" href="/css/10cols.css" media="all">
  <link rel="stylesheet" href="/css/11cols.css" media="all">
  <link rel="stylesheet" href="/css/12cols.css" media="all">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>
<body>
<div class="section group">
<div class="col span_1_of_10">
  <div class="middle">
      <a href=" {{ site.url }} ">
          <img src="{{ site.url | append: '/images/IMG_2901.png' }}" height="80" width="80" class="avatar" />
    </a>

    <section class="name">
        <a href=" {{ site.url }} ">
        <span class="ravn">Mads</span>
        <span class="ravn">Ravn</span>
      </a>
    </section>

    <section class="meta">
    <a href="https://github.com/madsravn"><img src="https://madsravn.dk/images/github.png" height="20" width=20" alt="Github"/></a>
    <a href="https://twitter.com/ravnmads"><img src="https://madsravn.dk/images/twitter.png" height="20" width="20" alt="twitter"/></a>
    <a href="https://feeds.feedburner.com/madsravn"><img src="https://madsravn.dk/images/rss.png" height="20" width="20" alt="feed"/> </a>
    </section>
    <br />

    <section class="menu">
        <a href="{{ site.url }}">
        <p class="menubig">
          01
        </p>
        <p class="menusmall">
          blog
        </p>
      </a>
      <hr />
      <a href="{{ site.url | append: '/projects.html' }}">
        <p class="menubig">
          02
        </p>
        <p class="menusmall">
          projects
        </p>
      </a>
      <hr />
      <a href="{{ site.url | append: '/about.html' }}">
        <p class="menubig">
          03
        </p>
        <p class="menusmall">
          about
        </p>
      </a>
    </section>
  </div>
</div>
<div class="col span_9_of_10 main-content" >

  {{ content }}

</div>

</body>

</html>
